@tailwind base;
@tailwind components;
@tailwind utilities;

.hexagon {
  position: fixed;
  top: -10px;
  left: -15px;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: -10;
  height: 100vh;
}

.card3d:hover .image{
  transition: 1s;
  transform: perspective(100px) rotateX(2deg);
}
.card3d:hover .stillimage{
  transition: 1s;
  transform: translateY(-100px);
}